<% layout('/layout/boilerplate') -%>
<div class="jumbotron  text-white " id="category-jumbotron">
    <%if(category==='attraction'){%>
        <h1 class="text-center m-4">景點</h1>
    <%}else{%>
        <h1 class="text-center m-4">美食</h1>
    <%} %>
    <p class="lead text-center">讓我們一起探索吧</p>

</div>
<div class="container">
    <div class="col-md-6 offset-md-3 article-margin">
        <%if(articles.length===0){%>
            <h3 class="text-center m-3 text-muted">沒有文章</h3>
        <%}else{%>
        <%for(let article of articles){%>
            <div class="card mb-3 shadow border-black" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="<%=article.images[0].url%>" class="card-img-top"id="article-img" alt="...">
                  </div>
                  <div class="col-md-8">
                     <div class="card-body pb-3 ">
                        <span class="float-right badge <%=article.category==="food"?"badge-success":"badge-warning"%> p-2"><%=article.category%></span>
                        
                        <h5 class="card-title d-inline-block m-1 "><%=article.title%></h5>
                        <a class="btn btn-outline-info btn-sm rounded-circle d-inline-block m-1 p-1 pt-0" href="/articles?q=city&city=<%=article.city%>"><%=allCity[article.city]%></a>
                        <p class="card-text"><%=article.content.substring(0,70)%></p>
                        <small class="text-muted d-block"><%=article.createDate%></small>
                        <a href="/articles/<%=article._id%> "class="btn btn-primary btn-sm float-right">查看內容</a>
                        
                    </div>
                    
                  </div>
                </div>
              </div>

            
            
                                       
        <%}%>
        <%}%>
    </div>
</div>
        

